@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Lilita+One&display=swap');

:root{
    --primary-color: #131842;
    --secondary-color: #E68369;
    --secondary-emphasis-color: #ECCEAE;
    --light-color:#FBF6E2;
    --background-color: #EFEFEF;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100dvh;
    font-size: 16px;
    font-family: "Lilita", Arial, Helvetica, sans-serif;
    background-image: url("./images/venice-8889871_640.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    align-items: stretch !important;
}

aside{
    background-color: var(--primary-color);
    color: var(--light-color);
    width: 250px;

    ul, li{
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul{
        margin-left: 50px;
    }

    li{
        padding: 10px;
        cursor: pointer;
    }

    li.active{
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }

}

main{
    flex-grow: 1;
    background-color: rgba(255, 255, 255, .8);
}

header{
    background-color: var(--secondary-color);
    align-items: center;
    padding: 5px 30px;
}

header h3{
    margin-right: auto;
}

header a{
    display: inline-block;
    padding: 10px;
    color: var(--primary-color);
    text-decoration: none;
}

section > div:first-child{
    flex-grow: 1;
    padding: 30px;
    max-width: 600px;
}

.brand{
    font-family: "Hind Siliguri", Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.categories li:nth-child(1){
    align-items: center;
    cursor: default;

    button{
        margin-left: auto;
    }
}

.task-tools{
    align-items: center;
    gap: 5px;

    form{
        margin-right: auto;
        background-color: white;
        display: flex;
        box-shadow: 0 0 10px #c7c7c7;

        input{
            padding: 10px;
            border: none;
            margin: 0;
        }

        button{
            border: none;
        }
    }
}

.task-card{
    background-color: var(--secondary-emphasis-color);
    box-shadow: 0 0 3px rgba(0,0,0,.4);
    border-radius: 10px;
    margin: 15px 0;

    > div, > p{
        padding: 5px 20px;
    }
    div:first-child{
        align-items: center;
    
        button{
            margin-left: auto;
        }
    }
    
    > div:last-child {
        /* align-items: center; */
        padding: 0;

        span{
            display: inline-block;
            padding: 10px 20px;
        }

        button{
            margin-left: auto;
            background-color: var(--secondary-color);
            border-radius: 0 0 10px 0;
        }
    }
}

.analytics{
    width: 30%;
}

.row{
    display: flex;
}

.col{
    display: flex;
    flex-direction: column;
}

.btn{
    padding: 10px;
    border: 2px solid rgba(255,255,255,0);
    cursor: pointer;
    background: none;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg{
        width: 1em;
        height: 1em;
    }
}

.btn.btn-outlined{
    border: 1px solid var(--primary-color);
    background: white;
}

.btn.btn-primary-contained{
    background: var(--primary-color);
    color:white !important;

    svg{
        color: white;
    }
}

.add-task-btn svg{
    width: 28px;
    height: 28px;
}

.add-task-btn, .filter-tasks-btn{
    border-radius: 5px;
}